<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Align Text</string>
	<key>uuid</key>
	<string>686A970A-F4B0-4B51-8697-886899708060</string>
</dict>
</plist>
